<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Testing</title>


<!-- Bower CSS styles -->
<link type="text/css" rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.min.css">
<link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

<script src="socket.io/socket.io.js"></script>

<!-- Bower JavaScript dependencies -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/lumx/dist/lumx.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-fullscreen/src/angular-fullscreen.js"></script>

<!-- Custom JavaScript dependencies -->
<script src="angular/app.js"></script>
<script src="angular/test/testController.js"></script>
<script src="angular/services/serviceTest.js"></script>

<!-- socket connection -->
<script src="js/socketio.js"></script>

</head>
<body ng-app="test_app">
	<h3><%=myVar%></h3>
    <div ng-view>
    </div>
</body>
</html>
